.topic{
    font-family:calibri;
    margin:15px;
}

.first{
    font-family:calibri;
    margin:15px;
}
.topic li{
    margin:8px;
}

.first table{
    width:80%;
    margin:auto;
    
}

.first p,h2,.btn{
    margin-left:40px;
    margin-right:20px;
}

.first p{
    line-height: 150%;
}

.first .btn{
    width:120px;
    height:40px;
    background-color: #003d79;
    color:white;
    border-radius: 5px;
    border:none;
    cursor: pointer;
}

.first .btn:hover{
    background-color: white;
    color:black;
    border: solid;
    border-color:black;
}

.first table:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.103);
    transform:scale(1.1);
    transition-duration: 2000ms;
}

.first table:not(:hover){
    transform: (1);
    transition-duration: 1000ms;
}
.topic ul{
    list-style-type: "✅";
}