body{
  margin: 0;
}

header{
    display:flex;
    justify-content: center;
}

.logo{
    max-height: 190px;
    max-width: 190px;
}

.logo img{
    width: 100%;
    height:auto;
}

/************************************************************ NAVIGATION BAR **************************************************/
.nav {
    position: sticky;
    top:0;
    background-color: #fff;
    overflow: hidden;
  }
  
  .nav a {
    float: left;
    color: #003d79;
    font-family: calibri;
    text-align: center;
    padding: 14px 45px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .nav a:hover {
    background-color: black;
    color: white;
    transition-duration: 500ms;
  }
  
  /* Add a color to the active/current link */
  .nav a.active {
    background-color: #003d79;
    color: white;
  }

/************************************************Footer**********************************************************************/

footer{
  background-color:#003d79;
  font-size: 15px;
  color:white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  padding: 3px;
  width: 99.63%;
}
footer a{
  color:white;
}

.thumbnail img{
  display: block;
  width:100%;
  height: auto;
}