.top-container{
    width:80%;
    margin:auto;
}

.top-container h1{
    color:#003d79;
    text-align: center;
    font-family: calibri;
    font-weight: 400;
}

.top-container p{
    color:#000000;
    font-family: calibri;
    font-weight: 400;
}

.contact-form{
    background-color: #003d79;
    color:white;
    font-family: calibri;
    padding: 20px;
    border-radius: 15px;
    width:50%
}

.top-container .contact-form select{
    border:solid white;
    width:41%;
    height:30px;
    margin:5px 0px 5px 0px;
}

.star{
    color:red;
}

textarea{
    margin:5px 0px 5px 0px;
}

.contact-form{
    display: inline-block;
}
.contact-form .table{
    width:100%;
}

.contact-form .form1{
    border:none;
    width:80%;
    height:25px;
    margin:5px 0px 5px 0px;
}

.contact-form .btn{
    border:none;
    background-color: white;
    color:black;
    width:20%;
    margin-right:8px;
    height: 30px;;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form .form1:focus,textarea:focus{
    background-color: #003d79;
    color:white;
    transition-duration: 300ms;
}
.contact-form .btn:hover{
    background-color: black;
    color:white;
    transition-duration: 500ms;
}

.contact-details{
    text-align: left;
    margin-left:20px;
    font-family: calibri;
    display: inline-block;
}

.bottom-container{
    width: 100%;
    text-align: center;
    font-family: calibri;
    font-weight:400;
    color:#003d79;
}
.bottom-container h1{
    display: inline-block;
}

.bottom-container .icon{
    width:35px;
    margin: 0px 20px 30px 20px;
}
.bottom-container .icon:hover{
    opacity: 0.5;
}

.new-hr{
    width:20%;
    opacity:0.5;
}

