.offers h3{
    font-family:calibri;
    text-align: center;
    justify-content: center;
}

.first{
    font-family:calibri;
    text-align: center;
}

.offer{
    padding:10px;
    border-radius:10px;
    margin:20px 50px 50px 50px;
    width:300px;
    height:450px;
    font-family: calibri;
    display:inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.103);
}

.offer:hover{
    background-color: #003d79;
    color:white;
    transform:scale(1.1);
    transition-duration: 300ms;
}

.o1{
    background-image: url("../images/gym.webp");
    background-repeat: no-repeat;
}

.o2{
    background-image: url("../images/health.webp");
    background-repeat: no-repeat;
}
.o3{
    background-image: url("../images/dining.webp");
    background-repeat: no-repeat;
}
.o4{
    background-image: url("../images/wedding.webp");
    background-repeat: no-repeat;
}
.o5{
    background-image: url("../images/engage.webp");
    background-repeat: no-repeat;
}
.o6{
    background-image: url("../images/holiday.webp");
    background-repeat: no-repeat;
}
.o7{
    background-image: url("../images/wedding2.webp");
    background-repeat: no-repeat;
}
.o8{
    background-image: url("../images/breakfast.webp");
    background-repeat: no-repeat;
}

.btn2{
    height:35px;
    width:120px;
    background-color: white;
    font-family:calibri;
    cursor:pointer;
}

.btn2:hover{
    color:white;
    background-color: black;
    transition-duration: 300ms;
}

.top{
    margin-top:185px;
}